<div class="page-body">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            <h1>Bienvenue Chez Mecart</h1>

            <span>
            </span>
            </div>
        </div>
        
        
            <div class="right">
                <h5>Bienvenue</h5>
            <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
            <form [formGroup]="myform" (ngSubmit)="login()">
            <div class="inputs">
                <input type="text" placeholder="user name" formControlName="username">
                <br>
                <input type="password" placeholder="password" formControlName="password">
            </div>
                
                <br><br>
                
            <div class="remember-me--forget-password">
                    <!-- Angular -->
        <label>
            <input type="checkbox" name="item" checked/>
            <span class="text-checkbox">Remember me</span>
        </label>
                <p>forget password?</p>
            </div>
                
                <br>
                <button type="submit">Login</button>
            </form>
        </div>
        
    </div>
</div>
