<div class="sb-nav-fixed">
    <app-top-bar></app-top-bar>
  
    <div id="layoutSidenav">
      <app-side-bar></app-side-bar>
  
      <!-- CONTENT-->
  
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h2 style="color: black">stock managment</h2>
  
            <div>
              <button
                type="button"
                class="btn btn-primary mb-3"
                data-toggle="modal"
                data-target=".bd-example-modal-sm"
                routerLink="/add-user">
                + add
              </button>
  
              <div
                class="modal fade bd-example-modal-sm"
                tabindex="-1"
                role="dialog"
                aria-labelledby="mySmallModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">...</div>
                </div>
              </div>
              <table class="fl-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>type</th>
                    <th>quantite</th>
                    <th>prix</th>
                    <th>edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let piece of stockList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ piece.type}}</td>
                    <td>{{piece.qte}}</td>
                    <td>{{piece.prix}}</td>
                    <td>
                      <button
                        class="btn btn-warning mx-2"
                        [routerLink]="['/modify-piece', piece._id]"
                      >
                        <i
                          class="fa fa-pencil"
                          style="color: white"
                          aria-hidden="true"
                        ></i></button
                      ><button
                        class="btn btn-danger mx-2"
                        style="color: white"
                      (click)="delete(piece._id,i)"
                      >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr> 
                </tbody>
  
                <tbody></tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  