<div class="car-bg">
<app-navbar></app-navbar>
<div class="content">
    <table>
        <tr>
            <td class="imgs"><img src="assets/team/dir.jpg" alt=""></td>
            <td class="infos">
                <div class="in">
                <div class="nom">
                    <p>Jamila Khouili</p>
                </div>
                <div class="position">
                    <p>Directrice</p>
                </div>
                <hr>
                <div class="SM">
                    <a hint="https://www.linkedin.com/company/toyota-tunisie/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a hint="" target="_blank"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
            </td>
            <td class="imgs"><img  src="assets/team/22.jpg" alt=""></td>
            <td class="infos">
                <div class="in">
                <div class="nom">
                    <p>Fedi Hmad</p>
                </div>
                <div class="position">
                    <p>Conseiller Commercial</p>
                </div>
                <hr>
                <div class="SM">
                    <a hint="https://www.linkedin.com/company/toyota-tunisie/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a hint="" target="_blank"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
            </td>
        </tr>
        <tr>
            <td class="infos">
                <div class="in">
                <div class="nom">
                    <p>Fraj Belgacem</p>
                </div>
                <div class="position">
                    <p>Responsable APV</p>
                </div>
                <hr>
                <div class="SM">
                    <a hint="https://www.linkedin.com/company/toyota-tunisie/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a hint="" target="_blank"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
            </td>
            <td class="imgs"><img  src="assets/team/mag.jpg" alt=""></td>
            <td class="infos">
                <div class="in">
                <div class="nom">
                    <p>Marah Zaghbib</p>
                </div>
                <div class="position">
                    <p>Sécretaire Génerale</p>
                </div>
                <hr>
                <div class="SM">
                    <a hint="https://www.linkedin.com/company/toyota-tunisie/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a hint="" target="_blank"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
            </td>
            <td class="imgs"><img  src="assets/team/44.jpg" alt=""></td>
        </tr>
        <tr>
            <td class="imgs"><img  src="assets/team/444.jpg" alt=""></td>
            <td class="infos">
                <div class="in">
                <div class="nom">
                    <p>Mouhamed Abed</p>
                </div>
                <div class="position">
                    <p>Magasinier</p>
                </div>
                <hr>
                <div class="SM">
                    <a hint="https://www.linkedin.com/company/toyota-tunisie/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a hint="" target="_blank"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
            </td>
            <td class="imgs"><img  src="assets/team/110.jpg" alt=""></td>
            <td class="infos">
                <div class="in">
                <div class="nom">
                    <p>Amina Sobhi</p>
                </div>
                <div class="position">
                    <p>Financière</p>
                </div>
                <hr>
                <div class="SM">
                    <a hint="https://www.linkedin.com/company/toyota-tunisie/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a hint="" target="_blank"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
            </td>
        </tr>
    </table>
</div>
<app-footer></app-footer>
</div>