<div class="car-bg">
    <app-navbar></app-navbar>
    <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url(https://media.alj.com/app/uploads/2020/02/Begin-752x357.jpg)"></div>
          <ul class="details">
            <li class="date">Février. 06, 2020</li>
          </ul>
        </div>
        <div class="description">
          <h1>Toyota nommée numéro un des constructeurs automobiles par le magazine Fortune</h1>
          <h2>Fortune a également reconnu Toyota comme n° 30 parmi les 50 meilleures entreprises « All-Star » interrogées</h2>
          <p> Félicitations à tous chez Toyota Motor Corporation pour votre classement au premier rang des constructeurs automobiles dans la liste 2020 des « entreprises les plus admirées au monde » du magazine Fortune. C’est la sixième année consécutive que Toyota gagne cette position de leader dans la catégorie des constructeurs automobiles au classement annuel des 
          « entreprises les plus admirées au monde » de Fortune.</p>
          <p class="read-more">
            <a href="https://alj.com/fr/news/toyota-named-number-1-motor-vehicle-company-on-fortune-magazines-2020-worlds-most-admired-list/">Read More</a>
          </p>
        </div>
      </div>
      <div class="blog-card alt">
        <div class="meta">
          <div class="photo" style="background-image: url(https://www.businessnews.com.tn/images/album/IMGBN81471Toyota-Hilux-Pick-up-Award-191121.jpg)"></div>
          <ul class="details">
            <li class="date">Novembre. 19, 2021</li>
          </ul>
        </div>
        <div class="description">
          <h1>Le Toyota Hilux remporte l’International Pick-up Award</h1>
          <h2>Le Hilux, déjà titulaire de nombreux prix</h2>
          <p>L’International Pick-up Award 2022/2023 décerné au Toyota Hilux est la 6ème édition de ce prix prestigieux. « Tous les deux ans depuis 2009, l'International Pick-up Award (IPUA) est décerné au pick-up d'une tonne la plus efficace du marché », explique Jarlath Sweeney, président du jury de l’International Van of the Year Award, qui organise la compétition. « Pour ce type véhicule multifonctions, fabriqué et vendu dans le monde entier, les produits et le marché évoluent en permanence, de nombreuses marques fixant des standards élevés en matière de performances, de sécurité et de confort du conducteur et des passagers ».</p>
          <p class="read-more">
            <a href="https://www.businessnews.com.tn/article,521,114131,1">Read More</a>
          </p>
        </div>
      
    </div>
    <app-footer></app-footer>
    </div>