<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li>
                <img src="../../../../assets/img/logot.png" alt="" />
                <img src="../../../../assets/img/logom.png" alt="" />
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li>Email:toyota@gmail.com</li>
              <li>Tel:+216 95 021 014</li>
              <li>Adresse:Téboulba ,Monastir</li>
              <ul class="social-network social-circle">
                <li>
                  <a href="#" class="icoFacebook" title="Facebook"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="icoLinkedin" title="Linkedin"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="iconGoogle" title="Linkedin"
                    ><i class="fa fa-google"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="iconInstagram" title="Instagram"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li>
                <input
                  type="text"
                  id="nom"
                  name="nom"
                  value="Nom"
                  required
                  minlength="4"
                  maxlength="8"
                  class="input"
                />
              </li>
              <li>
                <input
                  type="text"
                  id="prénom"
                  name="prénom"
                  value="Prénom"
                  required
                  minlength="4"
                  maxlength="8"
                  class="input"
                />
              </li>
              <li>
                <input
                  type="text"
                  id="Email"
                  name="Email"
                  value="Email"
                  class="input"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <ul class="list-unstyled">
            <li>
              <input
                class="input"
                type="text"
                id="sujet"
                name="sujet"
                value="Sujet"
              />
            </li>
            <li></li>
            <li><input class="button" type="submit" value="Envoyer" /></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">
            &copy; Copyright 2022 - Mec Art Toyota Téboulba. Ben Haj Yahia Ilef
            & Guedouar Rihab.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
