<div class="topnav">

    <div class="logos">
     <div class="one">
      <img src="../../../../assets/img/logot.png" alt="">
     </div>
     <div class="two">
      <img src="../../../../assets/img/logom.png" alt="">
     </div>
    </div>
      <nav class="ecriture">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
        <a routerLink="/cars" >Nos voitures</a>  
        <a routerLink="/about" >A propos</a>
        <a routerLink="/achivements" >Achivements</a>
      </nav>
      <div class="btn">
      <button type="button" >Contactez-nous</button></div>
  </div>